# frontend
dehui-property-admin/node_modules
dehui-property-admin/dist

# backend
dehui-property-management/target
dehui-property-management/uploads

# IDE
.idea
.vscode

# logs
*.log

# linux
.DS_Store
